.card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  min-height: 361px;
  border-radius: 10px;
  overflow: hidden;
  list-style: none;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__image:hover {
  cursor: pointer;
}

.card__description {
  display: flex;
  color: black;
  background-color: #fff;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  min-width: 21px;
  min-height: 19px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/heart-active.png);
}

.card__like-button:hover {
  opacity: 50%;
}

.card__trash-button {
  background: transparent url(../images/Trash.svg) no-repeat;
  min-width: 18px;
  min-height: 19.3px;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__trash-button:hover {
  opacity: 60%;
}
